<h3 class="pt-4 pb-4"> <%=image_tag('apple.svg', class: "header-icon")%>
My ideas
<div class=subtitle>
  Private and encrypted.
</div>
</h3>

<div id=myideas>

  <% if @records.count > 0 %>

      <% @records.order('created_at DESC').each do |idea| %>
        
        <div class="apple container-fluid">

          <%= button_to '', idea, method: :delete, class: "btn-close float-end", data: {confirm: "Are you sure?"} %>
          <strong class="applered">Added <%=time_ago_in_words(idea.created_at)%> ago</strong>

          <div class="pt-3 text-center"> <%= idea.content %> </div>

        </div>

        <br>
      <% end %>

  <% else %>

      <div class="centered text-center dimmed">
          <%= image_tag 'empty_basket.png', size: '100x100'%>
          <p> No ideas collected </p>
      </div>

  <% end %>

</div>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
