<div class="hovercard-inner">

  <div class="hovercard-top">

    <div class="hover-avatar">
      <%= link_to user_path(user.username) do %>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(resize_to_limit:[80,80]) %>
        <% else %>
          <%= image_tag "default-avatar.svg" %>
        <% end %>
      <% end %>
    </div>

    <% if logged_in? && current_user != user %>

        <%= link_to(
            current_user.following.include?(user.id) ? "Following" : "Follow",
            current_user.following.include?(user.id) ? user_unfollow_path(user) : user_follow_path(user),
            remote: true,
            id: "hover-followbutton",
            class: "hover-follow-btn"
        ) %>
    <% end %>

  </div>

  <div class="hover-name">
    <%= link_to user.name, user_path(user.username) %>
    <% if user.pomologist? %>
        <%= render 'shared/premiumbadge' %>
    <% end %>
  </div>

  <div class="hover-handle">@<%= user.username %></div>

  <% if user.bio.present? %>
  <div class="hover-bio"><%= user.bio %></div>
  <% end %>

  <div class="hover-stats">
    <span>
      <strong id="hover-following-count"><%= user.following.count %></strong> Following
    </span>

    <span>
      <strong id="hover-followers-count"><%= user.followers.count %></strong> Followers
    </span>
  </div>

</div>