<div id="presentation">

<div id="bannerprofile">

  <%= image_tag(@background_filepath, class: "banner_profile", id: 'banner') %>

  <% if logged_in? && current_user == @user %>
    <button id="editbanner" class="edit-banner-btn d-none" title="Edit background image">
      <i class="fa-solid fa-camera"></i>
    </button>
    <input type="file" id="user_background" accept="image/*" style="display:none;">
  <% end %>

<div id=avatarprofile>

    <%= image_tag(@avatar_filepath , class: "avatar_profile", id: 'avatar') %>

    <% if logged_in? && current_user == @user %>
        <!-- Owner sees Edit button -->
        <div id="editavatar" class="d-none">
            <div class="avatar-upload">
                <div class="avatar-edit">
                    <input type="file" id="user_avatar" accept="image/*">
                    <label for="user_avatar" style="color:transparent">o</label>
                </div>

                <div class="avatar-preview">
                    <% if @user.avatar.attached? %>
                    <div id="imagePreview" style="background-image: url(<%= polymorphic_url(@user.avatar.variant(resize_to_limit: [200,200])) %>);"></div>
                    <% else %>
                    <div id="imagePreview" style="background-image: url('default-avatar.svg');"></div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

</div>

<% if logged_in? %>

<div id="profile-action-btn">
    <% if current_user == @user %>
    <!-- Owner sees Edit button -->
    <button id="editbutton" class="btn">Edit profile</button>
    <% else %>
    <!-- Visitor sees Follow / Unfollow / Requested -->
    <% if @user.private? && @user.has_pending_follow_request_from?(current_user) %>
        <%= link_to 'Requested', '#', class: 'btn disabled', id: 'followbutton' %>
    <% elsif current_user.following.include?(@user.id) %>
        <%= link_to 'Following', user_unfollow_path(@user), remote: true, class: 'btn', id: 'followbutton' %>
    <% else %>
        <%= link_to 'Follow', user_follow_path(@user), remote: true, class: 'btn', id: 'followbutton' %>
    <% end %>
    <% end %>
</div>

<% end %>

</div>


<div id="infoprofile">
    <span id=nameprofile><%= @user.name %></span>
    <% if @user.pomologist? %>
        <span class="pomo-badge">🌿 Pomologist</span>
    <% end %>

    <% if logged_in? %>
        <% if current_user == @user %>
            <div id=editname class=d-none>
                <input type="text" id="nameinput" value="<%= @user.name %>" placeholder="Name" spellcheck="false">
            </div>
        <% end %>
    <% end %>

    <div id=joindate>
        <span class=float-end>Joined</span><br> 
        <%=@user.created_at.strftime("%B %Y")%>
    </div>

    <div id=handler-badges>
        <span>@<%=@user.username%></span>
        <span class='badge userbadge'><%=@user.mana%> mana</span>
    </div>

    <% if logged_in? %>
        <% if current_user == @user %>
            <div id=editbio class=d-none>
                <textarea id="bioinput" placeholder="Add your bio ..." spellcheck="false"><%= @user.bio %></textarea>
            </div>
        <% end %>
    <% end %>

    <div id=biography>
        <%=linkify_mentions(@user.bio)%>
    </div>


    <% if logged_in? %>
        <% if current_user == @user %>
            <div id=editlocation class=d-none>
                <input type="text" id="locationinput" value="<%= @user.location %>" placeholder="Hometown" spellcheck="false">
            </div>
        <% end %>
    <% end %>

    <div id=location>
        <% if @user.location? %>
            Lives in <%=@user.location%>
        <% end %>
    </div>

</div>

<div id="connections">
    <%=link_to @user.following.count.to_s + ' Following', user_show_following_path(@user), remote: true, class: 'follownb me-3', id: 'profile-following-count' %> 
    <%=link_to @user.followers.count.to_s + ' Followers', user_show_followers_path(@user), remote: true, class: 'follownb me-3', id: 'profile-followers-count' %>

    <% if current_user == @user && @user.pending_follow_requests.any? %>
        <%= link_to @user.pending_follow_requests.count.to_s + ' Follow Requests', 
                    show_follow_requests_user_path(@user), 
                    remote: true, 
                    class: 'follownb text-warning' %>
    <% end %>
</div>

<div id="activity">

  <%# === private profile check  === %>
<% if @user.private? && current_user != @user && !current_user&.approved_follower?(@user) %>
<!-- Centered locker for private profiles -->
<div class="text-center py-5" style="padding-top: 120px;">
    <%= image_tag 'lock.svg', size: '110x110', class: 'mb-4' %>
    <h4>This profile is private</h4>
    
    <% if logged_in? %>
        <p class="text-muted">Only approved followers can see the highlights and replies.</p>
    <% else %>
        <p class="text-muted">Log in to send a follow request and view this profile.</p>
    <% end %>
</div>

<% else %>

<!-- Normal public / own / approved follower view -->
<ul class="nav nav-tabs border-0" id="profiletabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="highlights-tab" data-bs-toggle="tab" data-bs-target="#highlights" type="button" role="tab" aria-controls="highlights" aria-selected="true">
        <%=image_tag('berry.svg' , size:"25x25")%><%=@totalH%> Highlights 
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="myreplies-tab" data-bs-toggle="tab" data-bs-target="#myreplies" type="button" role="tab" aria-controls="myreplies" aria-selected="false">
        <%=image_tag('grapes.svg' , size:"25x25")%><%=@totalR%> Replies
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="mydocuments-tab" data-bs-toggle="tab" data-bs-target="#mydocuments" type="button" role="tab" aria-controls="mydocuments" aria-selected="false">
        <%=image_tag('honeypot.svg' , size:"25x25")%><%=@totalD%> Essays/Books
        </button>
    </li>
</ul>

<div class="tab-content" id="profilecontent">

    <div class="tab-pane fade show active" id="highlights" role="tabpanel" aria-labelledby="highlights-tab">
        <% if @hookedhighlight != nil %>
            <% if logged_in? && current_user == @user %>
                <span class="hookedhighlight">
                <span id="unhook">Hooked</span><%= image_tag 'hook.svg', size:'21x21'%>
                </span>
                <%= render 'shared/userhook', hid: 'none', user: @user %>
            <% else %>
                <span class="hookedhighlight">
                <span>Hooked</span><%= image_tag 'hook.svg', size:'21x21'%>
                </span>
            <% end %>
            <%= render 'shared/post', highlight: @hookedhighlight %>
            <hr>
        <% end %>

        <% if @totalH > 0 %>
            <%= render "highlights/scrollable_list" %>
        <% else %>
            <div style="padding-top:80px;" class="text-center dimmed">
                <%= image_tag 'empty_basket.png', size: '100x100'%>
                <h5 class=mt-3> No highlights collected yet</h5>
            </div>
        <% end %>  

    </div>

    <div class="tab-pane fade" id="myreplies" role="tabpanel" aria-labelledby="myreplies-tab"></div>

    <div class="tab-pane fade" id="mydocuments" role="tabpanel" aria-labelledby="mydocuments-tab">
      <% if logged_in? %>

        <div class="documents-container">

            <% if @documents.any? %>

            <div class="documents-grid">

            <% @documents.each do |doc| %>

                <% epub = doc.epub %>
                
                <%= link_to document_path(doc), class: "document-card-link" do %>
                <div class="document-card">

                    <div class="document-cover">
                        <% if epub&.cover_pic&.attached? %>
                            <%= image_tag epub.cover_pic.variant(resize_to_limit: [400,400]) %>
                        <% else %>
                            <%= image_tag "default_epub_cover.png" %>
                        <% end %>

                        <div class="document-overlay">
                            <span class="document-type">
                                <%= doc.nature == "essay" ? "Essay" : "Book" %>
                            </span>
                        </div>
                    </div>

                    <div class="document-meta">
                        <div class="document-title">
                        <%= doc.title %>
                        </div>

                        <div class="document-author">
                        <%= doc.authors %>
                        </div>
                    </div>

                </div>
                <% end %>

            <% end %>

            </div>

            <% else %>

                <div class="documents-empty">
                    <%= image_tag "sad_bee.png", size:"100x100" %>
                    <h5 class=mt-3>No writings produced yet</h5>
                </div>

            <% end %>

        </div>
        <% else %>
            <br>
            <div class="embeddedlogin">
               <%= render "shared/login", return_to: request.fullpath %>
            </div>
        <% end %>
    </div>


</div>  

<% end %>

</div>

<script>
    $('#myreplies-tab').on('click', function(){
    <% if logged_in? %>
        var actionurl = "/users/" + "<%=@user.id%>" + "/show_replies?authenticity_token=" + "<%=form_authenticity_token%>";
        $.get(actionurl);
    <% else %>
        $('#myreplies').html('<br><div class=embeddedlogin><%= escape_javascript render "shared/login", return_to: request.fullpath %></div>');
    <% end %>
    });
</script>

<% if logged_in? %>

<!-- zoom on profile avatar -->
<div class="modal" id="avatarmodal" tabindex="-1" role="dialog" aria-labelledby="avatarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <img src="" class='centered' id="avatarpreview">
    </div>
</div>

<!-- background crop modal -->
<div class="modal" id="backgroundmodal" tabindex="-1" role="dialog" aria-labelledby="backgroundLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Media</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="image-preview" style="max-height: 400px; overflow: auto;"></div>
                <div class="mt-3 d-flex align-items-center">
                    <i class="fas fa-search-minus me-2"></i>
                    <input type="range" id="zoom-range" class="form-range flex-grow-1" min="1" max="5" step="0.1" value="1">
                    <i class="fas fa-search-plus ms-2"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="apply-crop">Apply</button>
            </div>
        </div>
    </div>
</div>

<!-- following / followers list -->
<div class="modal fade" id="followmodal" tabindex="-1" role="dialog" aria-labelledby="followsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body" id='followbodymodal'> </div>
        </div>
    </div>
</div>

<script>

    $(document).on('click', '.avatar_profile', function() {
        $('#avatarpreview').attr('src', $(this).attr('src'));
        $('#avatarmodal').modal('show');
    });

    $('#followmodal').hide();

    <% if current_user == @user %>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview')
                        .css('background-image', 'url(' + e.target.result + ')')
                        .hide()
                        .fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#user_avatar").on("change", function() {
            readURL(this);
        });


        var cropper = null;
        var applied = false;

        $('#editbanner').on('click', function(){
            $('#user_background').click();
        });

        $('#user_background').on('change', function(e){
            applied = false;
            const file = e.target.files[0];
            if (!file) return;

            const reader = new FileReader();
            reader.onload = function(event) {

                const imgHtml = '<img id="cropper-image" src="' + event.target.result + '" style="max-width:100%; display:block; margin:0 auto;">';
                $('#image-preview').html(imgHtml);

                $('#backgroundmodal').modal('show');
            };
            reader.readAsDataURL(file);
        });

        // Wait for modal shown + image loaded
        $('#backgroundmodal').on('shown.bs.modal', function () {

            const img = document.getElementById('cropper-image');
            if (!img) {
                console.error("[ERROR] No cropper-image element");
                return;
            }

            // If already loaded → init immediately
            if (img.complete && img.naturalWidth > 0) {
                initializeCropper(img);
            } else {
                // Wait for load event
                img.onload = function() {
                    initializeCropper(img);
                };
                img.onerror = function() {
                    console.error("[ERROR] Image failed to load");
                    $('#image-preview').append('<p style="color:red">Failed to load image. Try another file.</p>');
                };
            }
        });

        function initializeCropper(imgElement) {
            if (cropper) {
                cropper.destroy();
                cropper = null;
            }

            const bannerContainer = document.getElementById('bannerprofile');
            var aspect = 3;

            if (bannerContainer) {
                const w = bannerContainer.offsetWidth;
                const h = bannerContainer.offsetHeight;
                if (w > 0 && h > 0) {
                    aspect = w / h;
                }
            }

            try {
                cropper = new Cropper(imgElement, {
                    aspectRatio: aspect,
                    viewMode: 1,
                    autoCropArea: 0.95,
                    responsive: true,
                    restore: false,
                    guides: true,
                    center: true,
                    highlight: false,
                    background: false,
                    modal: true,
                    cropBoxMovable: true,
                    cropBoxResizable: true,
                    dragMode: 'move',
                    zoomable: true,
                    zoomOnWheel: true,
                    zoomOnTouch: true,
                    movable: true,
                    scalable: true,
                    ready: function () {
                        cropper.zoomTo(0);
                        cropper.zoomTo(0.01);
                    }
                });

                // Zoom slider
                $('#zoom-range').off('input').on('input', function() {
                    if (cropper) {
                        const val = parseFloat(this.value);
                        cropper.zoomTo(val - 1);
                    }
                });

            } catch (err) {
                console.error("[ERROR] Cropper init failed:", err);
                $('#image-preview').append('<p style="color:red">Cropper failed: ' + (err.message || 'unknown error') + '</p>');
            }
        }

        $('#apply-crop').on('click', function() {
            if (!cropper) {
                return;
            }

            applied = true;

            cropper.getCroppedCanvas({
                width: 1500,
                height: 500,
                fillColor: '#fff',
                imageSmoothingQuality: 'high'
            }).toBlob(function(blob) {
                if (!blob) return;

                const file = new File([blob], "banner-cropped.jpg", { type: 'image/jpeg' });
                const dt = new DataTransfer();
                dt.items.add(file);
                document.getElementById('user_background').files = dt.files;

                // live preview
                const previewUrl = URL.createObjectURL(blob);
                const bannerImg = document.getElementById('banner');
                if (bannerImg) {
                    bannerImg.src = previewUrl;
                    bannerImg.style.objectFit = 'cover';
                }

                $('#backgroundmodal').modal('hide');
            }, 'image/jpeg', 0.92);
        });

        $('#backgroundmodal').on('hidden.bs.modal', function () {
            if (cropper) {
                cropper.destroy();
                cropper = null;
            }
            if (!applied) {
                $('#user_background').val('');
            }
            applied = false;
            $('#image-preview').empty();
            $('#zoom-range').val(1);
        });

        // Edit profile toggle
        $('#editbutton').on('click', function() {
            const btn = $(this);
            const isEditMode = btn.text().trim() === 'Edit profile';

            if (isEditMode) {
                $('#handler-badges').addClass('d-none');
                $('#avatar').addClass('d-none');
                $('#editavatar').removeClass('d-none');
                $('#editbanner').removeClass('d-none');
                $('#biography').addClass('d-none');
                $('#editbio').removeClass('d-none');
                $('#nameprofile').addClass('d-none');
                $('#editname').removeClass('d-none');
                $('#location').addClass('d-none');
                $('#editlocation').removeClass('d-none');

                btn.text('Save');
            } else {
                const formData = new FormData();

                const bio      = $('#bioinput').val()?.trim();
                const name     = $('#nameinput').val()?.trim();
                const location = $('#locationinput').val()?.trim();

                if (bio      && bio      !== '<%= @user.bio      || "" %>') formData.append('user[bio]',      bio);
                if (name     && name     !== '<%= @user.name     || "" %>') formData.append('user[name]',     name);
                if (location && location !== '<%= @user.location || "" %>') formData.append('user[location]', location);

                const avatarFile     = $('#user_avatar')[0].files[0];
                const backgroundFile = $('#user_background')[0].files[0];

                if (avatarFile)     formData.append('user[avatar]',     avatarFile);
                if (backgroundFile) formData.append('user[background]', backgroundFile);

                if (formData.entries().next().done) {
                    revertEditModeUI(btn);
                    return;
                }

                $.ajax({
                    url:  '/users/<%= @user.id %>',
                    type: 'PATCH',
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRF-Token': '<%= form_authenticity_token %>'
                    },
                    success: function() {

                        const newName = $('#nameinput').val()?.trim();
                        if (newName) {
                            $('#nameprofile').text(newName);
                        }

                        const newBio = $('#bioinput').val()?.trim();
                        if (newBio !== undefined) {
                            $('#biography').text(newBio); 
                        }

                        const newLocation = $('#locationinput').val()?.trim();
                        if (newLocation !== undefined) {
                            if (newLocation) {
                                $('#location').text(`Lives in ${newLocation}`);
                            } else {
                                $('#location').empty(); 
                            }
                        }

                        const avatarInput = $('#user_avatar')[0];
                        if (avatarInput && avatarInput.files && avatarInput.files[0]) {
                            const reader = new FileReader();
                            reader.onload = function(e) {
                                // Update main avatar image
                                $('#avatar').attr('src', e.target.result);
                                
                                // Also update the edit-mode preview (optional but nice)
                                $('#imagePreview').css('background-image', `url(${e.target.result})`);
                            };
                            reader.readAsDataURL(avatarInput.files[0]);
                        }

                        const bgInput = $('#user_background')[0];
                        if (bgInput && bgInput.files && bgInput.files[0]) {
                            const reader = new FileReader();
                            reader.onload = function(e) {
                                $('#banner').attr('src', e.target.result);
                            };
                            reader.readAsDataURL(bgInput.files[0]);
                        }

                        revertEditModeUI(btn); 

                        btn.text('Saved');
                        setTimeout(() => { btn.text('Edit profile');}, 1500);
                    },
                    error: function(xhr) {
                        console.error("Profile update failed", xhr.responseText);
                        alert("Could not save changes. Please try again.");
                    }
                });

                revertEditModeUI(btn);
            }
        });

        function revertEditModeUI(btn) {
            btn.text('Edit profile');
            $('#handler-badges').removeClass('d-none');
            $('#avatar').removeClass('d-none');
            $('#editavatar').addClass('d-none');
            $('#editbanner').addClass('d-none');
            $('#biography').removeClass('d-none');
            $('#editbio').addClass('d-none');
            $('#nameprofile').removeClass('d-none');
            $('#editname').addClass('d-none');
            $('#location').removeClass('d-none');
            $('#editlocation').addClass('d-none');
        }

    <% end %>

</script>
<% end %>