<div id="socialshares">
  <%= link_to image_tag("copy.png",     size: "32x32", class: "mb-1 me-1"), "", id: "copysharing"   %>
  <%= link_to image_tag("mail.svg",     size: "32x32", class: "mb-1 me-1"), "", id: "mailsharing"   %>
  <%= link_to image_tag("reddit.svg",   size: "32x32", class: "mb-1 me-1"), "", id: "redditsharing" %>
  <%= link_to image_tag("x.svg",        size: "32x32", class: "mb-1 me-1"), "", id: "xsharing"      %>
  <%= link_to image_tag("linkedin.svg", size: "32x32", class: "mb-1 me-1"), "", id: "linsharing"    %>
  <%= link_to image_tag("whatsapp.svg", size: "32x32", class: "mb-1 me-1"), "", id: "whatsappsharing" %>
</div>

<script>

  const shareUrl = "<%= highlight_url(highlight) %>";
  const shareAuthor = "<%= highlight.fromauthors %>";
  const shareQuote = "<%= escape_javascript highlight.quote %>";

  $("body").on("click", "#mailsharing", function () {
    this.href  = "mailto:?subject=Check out this quote from " + shareAuthor;
    this.href += "&body=" + shareQuote + "%0D%0A%0D%0A";
    this.href += "Read more here: " + shareUrl;
  });

  $("body").on("click", "#redditsharing", function () {
    this.href  = "https://www.reddit.com/submit?title=";
    this.href += encodeURIComponent("Quote by " + shareAuthor);
    this.href += "&url=" + encodeURIComponent(shareUrl);
  });

  /* X (formerly Twitter) */
  $("body").on("click", "#xsharing", function () {
    this.href  = "https://x.com/intent/post?text=";
    this.href += encodeURIComponent("Check out this quote from " + shareAuthor + ": " + shareUrl);
  });

  $("body").on("click", "#linsharing", function () {
    this.href  = "https://www.linkedin.com/shareArticle?mini=true&url=";
    this.href += encodeURIComponent(shareUrl);
  });

  $("body").on("click", "#whatsappsharing", function () {
    this.href  = "https://wa.me/?text=";
    this.href += encodeURIComponent("Check out this quote from " + shareAuthor + ": " + shareUrl);
  });

  function copytoclip(content) {
    if (navigator.clipboard) {
      navigator.clipboard.writeText(content);
    } else {
      const selection = window.getSelection();
      const range = document.createRange();
      range.selectNodeContents(document.body);
      selection.removeAllRanges();
      selection.addRange(range);
      document.addEventListener("copy", function listener(e) {
        e.clipboardData.setData("text/plain", content);
        e.preventDefault();
        document.removeEventListener("copy", listener);
      });
      document.execCommand("copy");
      selection.removeAllRanges();
    }
  }

  $("body").on("click", "#copysharing", function (e) {
    e.preventDefault();
    copytoclip(shareUrl);
    $(this).parent().html("<p class='m-0'>Link copied</p>");
  });

</script>

<style>
  #socialshares {
    text-align: center;
  }
</style>