<% eid = entity.id.to_s %>
<% entity_path = entity.class.name.downcase.pluralize %>


<% if fromuser != nil && touser != nil %>
    <% myvote = fromuser.getvote(eid) %>
<% else %>
    <% myvote = 0 %>
<% end %>

<% if type == "major" %>

<div class="hrating">
    <% if myvote == 1 %>
        <%= link_to image_tag("upvote-arrow-active.svg", size:"21x21",
                data: { default: asset_path('upvote-arrow.svg'), active: asset_path('upvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), class:"active", id: "upvote-" + eid %>
    <% else %>
        <%= link_to image_tag("upvote-arrow.svg", size:"21x21",
                data: { default: asset_path('upvote-arrow.svg'), active: asset_path('upvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), id: "upvote-" + eid %>
    <% end %>

    <% if myvote == 1 %>
        <p class=oscore id="score-<%=eid%>"><%=entity.score%></p>
    <% elsif myvote == -1 %>
        <p class=bscore id="score-<%=eid%>"><%=entity.score%></p>
    <% else %>
        <p class=hscore id="score-<%=eid%>"><%=entity.score%></p>
    <% end %>

    <% if myvote == -1 %>
        <%= link_to image_tag("downvote-arrow-active.svg", size:"21x21",
                data: { default: asset_path('downvote-arrow.svg'), active: asset_path('downvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), class:"active", id: "downvote-" + eid %>
    <% else %>
        <%= link_to image_tag("downvote-arrow.svg", size:"21x21",
                data: { default: asset_path('downvote-arrow.svg'), active: asset_path('downvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), id: "downvote-" + eid %>
    <% end %>
</div>

<% elsif type == "minor" %>

    <% if myvote == 1 %>
        <%= link_to image_tag("upvote-arrow-active.svg", size:"15x15",
                data: { default: asset_path('upvote-arrow.svg'), active: asset_path('upvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), class:"active", id: "upvote-" + eid %>
    <% else %>
        <%= link_to image_tag("upvote-arrow.svg", size:"15x15",
                data: { default: asset_path('upvote-arrow.svg'), active: asset_path('upvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), id: "upvote-" + eid %>
    <% end %>

    <% if myvote == 1 %>
        <b class=moscore id="score-<%=eid%>"><%=entity.score%></b>
    <% elsif myvote == -1 %>
        <b class=mbscore id="score-<%=eid%>"><%=entity.score%></b>
    <% else %>
        <b class=mhscore id="score-<%=eid%>"><%=entity.score%></b>
    <% end %>

    <% if myvote == -1 %>
        <%= link_to image_tag("downvote-arrow-active.svg", size:"15x15",
                data: { default: asset_path('downvote-arrow.svg'), active: asset_path('downvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), class:"active", id: "downvote-" + eid %>
    <% else %>
        <%= link_to image_tag("downvote-arrow.svg", size:"15x15",
                data: { default: asset_path('downvote-arrow.svg'), active: asset_path('downvote-arrow-active.svg') }),
                login_path(return_to: request.fullpath), id: "downvote-" + eid %>
    <% end %>

<% end %>


<% if fromuser != nil && touser != nil %>

<script>

    function updateArrows(eid, vote) {
        const upBtn   = $("#upvote-"   + eid);
        const downBtn = $("#downvote-" + eid);
        const score   = $("#score-"    + eid);
        const isMinor = score.is('b');

        const upDefault   = upBtn.find('img').data('default');
        const upActive    = upBtn.find('img').data('active');
        const downDefault = downBtn.find('img').data('default');
        const downActive  = downBtn.find('img').data('active');

        upBtn.removeClass('active').find('img').attr('src', upDefault);
        downBtn.removeClass('active').find('img').attr('src', downDefault);

        if (vote === 1) {
            upBtn.addClass('active').find('img').attr('src', upActive);
            score.removeClass(isMinor ? 'mhscore mbscore' : 'hscore bscore')
                .addClass(isMinor ? 'moscore' : 'oscore');
        } else if (vote === -1) {
            downBtn.addClass('active').find('img').attr('src', downActive);
            score.removeClass(isMinor ? 'mhscore moscore' : 'hscore oscore')
                .addClass(isMinor ? 'mbscore' : 'bscore');
        } else {
            score.removeClass(isMinor ? 'moscore mbscore' : 'oscore bscore')
                .addClass(isMinor ? 'mhscore' : 'hscore');
        }
    }

    $("#upvote-<%=eid%>").on('click', function(e){
        e.preventDefault();
        
        var incval = 0;
        var manaAction;

        if($(this).hasClass('active')){ 
            incval = -1; 
            manaAction = "minusonemana";
        } else if($("#downvote-<%=eid%>").hasClass('active')){ 
            incval = 2; 
            manaAction = "plustwomana";
        } else { 
            incval = 1;
            manaAction = "plusonemana";
        }

        const token = "<%=form_authenticity_token%>";

        $.ajax({
            url: "/users/<%=fromuser.id%>/update_votes",
            type: "PATCH",
            data: { entity_id: "<%=eid%>", vote: 1 },
            headers: { "X-CSRF-Token": token },
            success: function(response) {
                updateArrows("<%=eid%>", response.vote);
            },
            error: function(xhr) {
                if (xhr.status === 429) eval(xhr.responseText);
            }
        });

        $.ajax({
            url: "/<%=entity_path%>/<%=eid%>/update_score",
            type: "PATCH",
            data: { score_increment: incval },
            headers: { "X-CSRF-Token": token },
            success: function(response) {
                $("#score-<%=eid%>").text(response.score);
            },
            error: function(xhr) {
                if (xhr.status === 429) eval(xhr.responseText);
            }
        });

        $.ajax({
            url: "/users/<%=touser.id%>/" + manaAction,
            type: "POST",
            headers: { "X-CSRF-Token": token }
        });
    });

    $("#downvote-<%=eid%>").on('click', function(e){
        e.preventDefault();

        var incval = 0;
        var manaAction;

        if($(this).hasClass('active')){ 
            incval = 1; 
            manaAction = "plusonemana";
        } else if($("#upvote-<%=eid%>").hasClass('active')){ 
            incval = -2;
            manaAction = "minustwomana";
        } else { 
            incval = -1;
            manaAction = "minusonemana";
        }

        const token = "<%=form_authenticity_token%>";

        $.ajax({
            url: "/users/<%=fromuser.id%>/update_votes",
            type: "PATCH",
            data: { entity_id: "<%=eid%>", vote: -1 },
            headers: { "X-CSRF-Token": token },
            success: function(response) {
                updateArrows("<%=eid%>", response.vote);
            },
            error: function(xhr) {
                if (xhr.status === 429) eval(xhr.responseText);
            }
        });

        $.ajax({
            url: "/<%=entity_path%>/<%=eid%>/update_score",
            type: "PATCH",
            data: { score_increment: incval },
            headers: { "X-CSRF-Token": token },
            success: function(response) {
                $("#score-<%=eid%>").text(response.score);
            },
            error: function(xhr) {
                if (xhr.status === 429) eval(xhr.responseText);
            }
        });

        $.ajax({
            url: "/users/<%=touser.id%>/" + manaAction,
            type: "POST",
            headers: { "X-CSRF-Token": token }
        });
    });
</script>

<% end %>