<% if flash.any? %>
    <% flash.each do |type, msg| %>
        $('#highlightmodal').modal('hide');

        rendition.annotations.add("highlight", '<%= @highlight.cfi %>', {}, (e) => {

            var content = "<div>" + 
                "<%=escape_javascript render 'shared/onehighlight' , highlight: @highlight, document: Document.find_by_id(@highlight.docid) , from: 'document' %> <br>" +
                "<%=escape_javascript render 'shared/createreply', reply: Reply.new, highlight_id: @highlight.id, recipient_id:'', formwhatfor: 'creation' %> <br>" +
                "<div id=allreplies>" + "<%=escape_javascript render 'shared/highlightreplies', replies: Reply.where(:highlightid => @highlight.id), highlight: @highlight %>" + "</div></div>";


            $('#conversationmodalcontent').html(content);
            $('#conversationmodal').modal('show');

        },
        "hl", {"fill": "#0951a9", "fill-opacity": "0.2", "mix-blend-mode": "multiply", "pointer-events": "all",
                "style": "fill-opacity: 0.2; transition: fill-opacity 0.35s ease;", "onmouseenter": "this.style.fillOpacity='0.4'", "onmouseleave": "this.style.fillOpacity='0.2'"});

        $('#resultmodalcontent').html("<div class=text-center><%= msg %></div>");
        $('#resultmodal').modal('show');
    <% end %>
<% end %>
